@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
    padding: 1em;
}

header, main, footer{
    max-width: 800px;
    margin:auto;
}

header, footer{
    border: solid 3px #daa520;
    padding: .25rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: #e5e5f7;
    background-color: #000000;
}

header{
    display: flex;
    flex-direction: column;
    color:white;
}

img{
    width: 50%;
    height: auto;
    position: relative;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding: .35rem;
    margin: .5rem 0 .5rem 1rem;
    z-index: 1;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    margin: 0 0 0 3rem;
}

.light {
    position: absolute;
    border-radius: 10px 0 0 10px;
    margin: 35% 0 0 17.5%;
    transform: rotate(25deg);
    width: 250px;
    height: 10px;
    box-shadow: 0 0 1px #03e9f4, 0 0 15px #03e9f4, 0 0 40px #03e9f4, 0 0 90px #03e9f4;
    background: #dcf1ff;
}

.dark {
    position: absolute;
    border-radius: 0 10px 10px 0;
    margin: 35% 0 0 17.5%;
    transform: rotate(-25deg);
    width: 250px;
    height: 10px;
    box-shadow: 0 0 15px #ed0505, 0 0 30px #ed0505, 0 0 55px #ed0505, 0 0 105px #ed0505;
    background: #ffffff;
}

h2{
    color: goldenrod;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: lighter;
}

li, a {
    list-style-type: square;
    font-size: 1.25rem;
    color:white;
    padding-bottom: 1rem;
}

a:hover {
    background: linear-gradient(90deg, rgba(3,233,244,0.8262954840139181) 0%, rgba(0,0,0,1) 50%, rgba(237,5,5,0.7926820386357668) 100%);
    padding: 0%;
}
footer, .weblink{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #e2b100;
}
