@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:rgb(255, 248, 232);
    padding: 1em;
}

header, main, footer{
    max-width: 1000px;
    margin:auto;
}

header, footer{
    border: solid 3px #daa520;
    padding: .25rem;
    background-color: #000000;
}

header {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

h1{
    position: relative;
    animation: none;
    text-align: center;
    color: rgb(255, 248, 232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.saber {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 20s infinite;
    animation: fade 20s infinite;
  }

  #blue {
    animation-delay: 0s;
    background-image: url('../images/hp.jpg');
    background-size: 100%;
  }

  #avenger {
    animation-delay: 5s;
    background-image: url('../images/avengers.jpg');
    background-size: 100%;
  }

  #red {
    background-image: url('../images/red.jpg');
    animation-delay: 10s;
  }

  #lotr {
    animation-delay: 15s;
    background-image: url('../images/lotr.jpg');
    background-size: 100%;
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    15% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    15% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

h2{
    color: goldenrod;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: lighter;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    padding: 1rem;
}

p {
  margin-top: .5rem;
}

footer, .weblink{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #e2b100;
}

.card {
  perspective: 1000px;
  cursor: pointer;
}

.card .inner {
  position: relative;
  width: 100%;
  height: 350px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip .inner {
  transform: rotateY(180deg);
}

.card-face, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face {
  background-color: #000000;
  color: rgb(255, 248, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: #000000;
  border: solid 3px #daa520;
  color: rgb(255, 248, 232);
  transform: rotateY(180deg);
  padding: .5rem;
  box-sizing: border-box;
}

.favorite {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.heart {
  font-size: 1.5rem;
  color: rgb(255, 248, 232);
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 10px; 
}


.heart.favorite {
  color: rgb(198, 18, 18);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container{
  max-width: 1000px;
  height: 200px;
}

 iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 200px;
  top: 65%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
}

#list1 {
  padding: 2rem 0 1rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 2rem 0 1rem 0;
}
